<!DOCTYPE html>
<html>
<head>
    <title>Admin Main</title>
</head>
<body>

    <h1>
        Admin Main Page
    </h1>

    <a href="/all-users">

        <button>
            All Users
        </button>

    </a>

    <br><br>

    <a href="/all-tasks">

        <button>
            All Tasks
        </button>

    </a>

    <br><br>

    <a href="/admin-delete-tasks-page">

        <button>
            Delete Task
        </button>

    </a>

</body>
</html>