<!DOCTYPE html>
<html>
<head>
    <title>Admin Signup</title>
</head>
<body>

    <h1>Admin Signup</h1>

    <form method="POST" action="/admin-signup">

        {% csrf_token %}

        <input
            type="text"
            name="name"
            placeholder="Enter Admin Name"
        >

        <br><br>

        <input
            type="text"
            name="pin"
            placeholder="Enter Admin Pin"
        >

        <br><br>

        <input
            type="password"
            name="password"
            placeholder="Enter Password"
        >

        <br><br>

        <input
            type="password"
            name="re_password"
            placeholder="Re Enter Password"
        >

        <br><br>

        <button type="submit">
            Signup
        </button>

    </form>

    <h3>
        {{ message }}
    </h3>

</body>
</html>