<!DOCTYPE html>
<html>
<head>
    <title>User Main</title>
</head>
<body>

    <h1>User Main Page</h1>

    <a href="/create-task-page">
        <button>Create Task</button>
    </a>

    <br><br>

    <a href="/view-task-page">
        <button>View Task</button>
    </a>

    <br><br>

    <a href="/update-task-page">
        <button>Update Task</button>
    </a>

    <br><br>

    <a href="/delete-task-page">
        <button>Delete Task</button>
    </a>

</body>
</html>