<!DOCTYPE html>
<html>
<head>
    <title>View Task</title>
</head>
<body>

    <h1>View Task</h1>

    <form method="POST" action="/view-task">

        {% csrf_token %}

        <input type="text" name="name" placeholder="Enter Name">

        <br><br>

        <input type="text" name="phone_num" placeholder="Enter Phone Number">

        <br><br>

        <button type="submit">
            View Task
        </button>

    </form>
    <h3>
    {{ message }}
</h3>

<h2>
    {{ title }}
</h2>

<p>
    {{ description }}
</p>

</body>
</html>